  /*La primera vista, está el nombre, num e imagen del pokemon */
  .pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    max-width: 310px;
    height: 250px;
    padding: 15px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    text-align: center;
    }
  .pokemon-card-header {
    line-height: 5px;
    /* #14133A; 
    #FFCB05;
     #21386E;*/
    background: #1D2C5E;
    color: #ffffff;
    width: 180px;
    border-radius: 10px;
  }
  
  .pokemon-img{
    width: 150px;
    height:150px;
  }
    .pokemon-card:hover {
      background: rgba(224, 220, 220, 0.75);
    }
    
    .pokemon-card img:hover, .contentMoreDataModal img:hover{
      transform: scaleX(-1);
    }
  
  /* UL - elimina el padding que estaba al costado de cada <ul> */
  .poke-types {
    padding: 0px;
    margin: 0px;
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    }
  
  /* formato de las viñetas LI*/
    .poke-list {
      margin:3px;
      padding: 5px;
      color: #000;
      background: #FFCB05;
      border-radius: 5px;
      font-weight: bold;
      }
  
  

    @media screen and (max-width: 501px)  {

    }