@import "./header.css";
@import "./pokemon-card.css";
@import "./modal-window.css";
@import "./versus.css";

* {
  font-family: "Roboto", sans-serif;
}

html, body {
  margin: 0px;
  background: url("img/background-day.jpg"), rgba(251, 251, 251, 0.24);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-weight: bold;
  text-transform: capitalize;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  width: 100vw;
  align-items: center;
}

/* SECTION: Sort By */
main .sortBy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 290px;
  height: 48px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  color: #1D2C5E;
}

/* Texto que contiene el número de pokemons */
main span {
  margin-left: 15px;
  font-weight: bold;
  text-align: center;
}

.btn-sort {
  height: 33px;
  width: 90px;
  margin: 2px;
  margin-left: 10px;
  background: none;
  border: none;
  border-radius: 3px;
}

/* SECTION: Index  */
.index {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
}
/* lista con los tipos */
.btn-type-phone {
  position: relative;
}
/* Menú modal con los tipos */
.modal-content {
  position: absolute;
  width: 350px;
  height: 200px;
  top: -20px;
  margin-top: 90px;
  display: flex;
  justify-content: left;
  align-items: center;
  display: none;
}

.modal-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  background: rgba(255, 255, 255, 0.85);
  color: black;
  border: none;
  margin-left: -80px;
  font-size: 17px;
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.hidden {
  display: none;
}

.types-box {
  width: 280px;
}

.choose-container {
  margin-left: 0px;
  margin-right: 5px;
  width: 140px;
}

.choose-container2 {
  margin-left: 5px;
  margin-right: 0px;
  width: 140px;
}

.versus-title-box {
  width: 280px;
  align-self: center;
}

.pokemon-card-versus {
  width: 130px;
  margin: 5px;
  padding: 5px;
}

.versusBox {
  width: 300px;
}

@media screen and (max-width: 501px) {
.index {
  display: grid;
  grid-template-columns: 250px;
}
.modal-content {
  position: absolute;
  width: 350px;
  height: 200px;
  top: 20px;
  margin-top: 90px;
  display: flex;
  justify-content: left;
  align-items: center;
  display: none;
}
.modal-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  background: rgba(255, 255, 255, 0.85);
  color: black;
  border: none;
  margin-left: 0px;
  font-size: 17px;
  font-weight: bold;
}
}