html, body {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url("img/background.jpg");
    font: "Helvetica";
    
  }
  
  header {
   
    background-color: #14133A;
    width: 100%;
  }
  
  .img-header {
    width: 30%;
    height: 20%;
  }
  
  .nav-pc{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  
  form {
    display: flex;
    flex-direction: row;
    height: 30px;
  }
  
  .btn-nav {
    height: 41px;
    padding: 5px;
    margin: 2px;
    background-color: #14133A;
    color: aliceblue;
    border: none;
  }
  
  .sortBy {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  
  .img-pokemon {
    height: 162px;
    width: 162px;
  }

  main {
    
  }

  .pokemon-card {
    max-width: 310.94px;
    height: 369.91px;
    padding: 20px;
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
  }

  .poke-type-list {
    float:left;
    margin:0px 1px;
    border:1px solid black;
    background:#eeeeee;
  }

  .index {
    
  }
  
  /* MEDIA QUERY*/ 
  @media screen and (max-width: 320px)  {
          .nav-pc {
            display: none;
          }
        }