/* SECTION: VERSUS   */

.types-box {
    background: rgba(255, 255, 255, 0.75);
    padding: 5px;
    border-radius: 5px;
    width: 950px;
    justify-content: center;
    display: none;
    margin-top:20px;
  }
    .types-name {
      color: rgb(88, 81, 81);
      margin: 10px;
    }
  
  input {
    height: 30px;
    width: 230px;
    border: none;
    font-size: 14px;
    border-radius: 3px; 
    position: relative;
    top: -2px;
    right: -18px;
    }
  
  .versusBox {
    width: 800px;
    margin: auto;
    justify-content: center;
    flex-direction: column;
  }
  
  .versus-title {
    color: rgb(88, 81, 81);
  }
  
  .versus-title-box {
    background: rgba(255, 255, 255, 0.75);
    padding: 5px;
    border-radius: 5px;
    width: 800px;
    justify-content: center;
    margin-bottom:20px;
    margin-top:20px;
    text-align: center;
  }
  
  .choose {
    display: flex;
    justify-content: center;
  }
  
  .choose-container {
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    width: 30%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
  }
  
  .choose-container input  {
    background: transparent;
    border: 0;
    font-size: 20px;
    color: rgb(46, 45, 45);
    left:0;
  }
  
  .suggestions-panel {
    border-top: 2px solid #999;
  }
  .suggestions-panel > div {
    padding: 15px;
    font-size: 15px;
    color: rgb(63, 62, 62);
    border-top: 1px solid #666;
    cursor: pointer;
  }
  .suggestions-panel > div:hover {
    background: rgba(125, 133, 156, 0.75);
  }
  
  .choose-container2 {
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    width: 30%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
  }
  
  .choose-container2 input {
    background: transparent;
    border: 0;
    font-size: 20px;
    color: rgb(46, 45, 45);
    left:0;
  }
  
  .suggestions-panel2 {
    border-top: 2px solid #999;
  }
  .suggestions-panel2 > div {
    padding: 15px;
    font-size: 15px;
    color: rgb(63, 62, 62);
    border-top: 1px solid #666;
    cursor: pointer;
  }
  .suggestions-panel2 > div:hover {
    background: rgba(125, 133, 156, 0.75);
  }
  
    .pokemon-card-versus {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      width: 200px;
      padding: 20px;
      margin: 20px;
      margin-left: 50px;
      margin-right: 50px;
      background: rgba(255, 255, 255, 0.75);
      border-radius: 5px;
      text-align: center;
      }

/* @media screen and (min-width: 501px)  {

      } */